.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  margin: 0 0 54px;
  align-self: flex-start;
}

@media screen and (max-width: 880px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px;
  }
}
