.profile__role {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  margin: 16px 0 0;
}

@media screen and (max-width: 880px) {
  .profile__role {
    font-size: 14px;
    line-height: 16px;
    margin: 14px 0 0;
  }
}
