.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  padding: 36px 0 0;
  margin: 0 auto;
  gap: 0 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    padding: 42px 19px 0;
  }
}
