.element__like-button {
  background-color: transparent;
  background-image: url('../../../images/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  width: 22px;
  height: 22px;
}

.element__like-button:hover {
  opacity: 0.5;
}
