.element__remove-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-image: url('../../../images/trash-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  width: 18px;
  height: 18px;
}

.element__remove-button:hover {
  opacity: 0.5;
}
